In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
idades[4]

15

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30)

In [ ]:
# idades.remove(30)

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 27, 18, 15, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.clear()

In [ ]:
idades = [39, 30, 27, 18, 15]

In [ ]:
28 in idades

False

In [ ]:
if 28 in idades:
  idades.remove(28)

In [ ]:
idades.append(19)

In [ ]:
idades.insert(0, 20)

In [ ]:
idades

[20, 39, 30, 27, 18, 15, 19]

In [ ]:
idades = [20, 39, 28]
idades

[20, 39, 28]

In [ ]:
idades.append([27, 19])

In [ ]:
idades

[20, 39, 28, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 28
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 28]
idades

[20, 39, 28]

In [ ]:
idades.extend([27, 19])
idades

[20, 39, 28, 27, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
29
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)

idades_no_ano_que_vem

[21, 40, 29, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 29, 28, 20]

In [ ]:
[idade for idade in idades if idade > 21]

[39, 28, 27]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 29, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]

# Aula 02

**Objetos Próprios**

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 Saldo 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 47685 Saldo 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [ ]:
print(contas[0])

[>>Codigo 15 Saldo 500<<]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(contas[0])

[>>Codigo 15 Saldo 600<<]

In [ ]:
print(conta_do_gui)

[>>Codigo 15 Saldo 600<<]

In [ ]:
print(contas[2])

[>>Codigo 15 Saldo 600<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 Saldo 600<<] [>>Codigo 47685 Saldo 1000<<]
[>>Codigo 15 Saldo 700<<] [>>Codigo 47685 Saldo 1100<<]

In [ ]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 700<<] [>>Codigo 47685 Saldo 1100<<]

In [ ]:
guilherme = ('Gulherme', 37, 1981)
daniela = ('Daniela', 31, 1987)

In [ ]:
print(guilherme, daniela)

('Gulherme', 37, 1981) ('Daniela', 31, 1987)

In [ ]:
conta_do_gui = (15, 1000)

In [ ]:
def deposita(conta):
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('Gulherme', 37, 1981), ('Daniela', 31, 1987)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))
usuarios

[('Gulherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(123)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)
contas

(<__main__.ContaCorrente at 0x7f300d973dd8>,
 <__main__.ContaCorrente at 0x7f300d9732b0>)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 123 Saldo 1000<<]

In [ ]:
contas[0].deposita(300)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 800<<]
[>>Codigo 123 Saldo 1000<<]

# Aula 03

**Herança e polimorfismo**

In [ ]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
# print(Conta(88))

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
# conta18 = ContaInvestimento(18)
# conta18.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

## Aula 04

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2

False

In [ ]:
contas = [conta1]

In [ ]:
conta1 in contas

True

In [ ]:
conta2 in contas

False

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [ ]:
conta1 == conta2

True

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo


class ContaMultiploSalario(ContaSalario):
  pass

# Aula 05

In [ ]:
idades = [12, 56, 43, 38, 69, 42, 51, 26]

for i in range(len(idades)):
  print(i, idades[i])

0 12
1 56
2 43
3 38
4 69
5 42
6 51
7 26

In [ ]:
enumerate(idades) # lazy...

In [ ]:
list(enumerate(idades))

[(0, 12), (1, 56), (2, 43), (3, 38), (4, 69), (5, 42), (6, 51), (7, 26)]

In [ ]:
for indice, idade in enumerate(idades):
  print(indice, " - ", idade)

0  -  12
1  -  56
2  -  43
3  -  38
4  -  69
5  -  42
6  -  51
7  -  26

In [ ]:
usuarios = [
            ("Guilherme", 37, 1981),
            ("Daniela", 31, 1987),
            ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios:
  print(nome)

Guilherme
Daniela
Paulo

In [ ]:
usuarios = [
            ("Guilherme", 37, 1981),
            ("Daniela", 31, 1987),
            ("Paulo", 39, 1979)
]

for nome, _, _ in usuarios:
  print(nome)

Guilherme
Daniela
Paulo

# Aula 06

In [ ]:
idades

[12, 56, 43, 38, 69, 42, 51, 26]

In [ ]:
sorted(idades)

[12, 26, 38, 42, 43, 51, 56, 69]

In [ ]:
list(reversed(idades))

[26, 51, 42, 69, 38, 43, 56, 12]

In [ ]:
sorted(idades, reverse=True)

[69, 56, 51, 43, 42, 38, 26, 12]

In [ ]:
idades.sort()
idades

[12, 26, 38, 42, 43, 51, 56, 69]

# Aula 07

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_do_daniela = ContaSalario(3)
conta_do_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)


contas = [conta_do_guilherme, conta_do_daniela, conta_do_paulo]

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_do_daniela = ContaSalario(3)
conta_do_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)


contas = [conta_do_guilherme, conta_do_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme < conta_do_daniela

True

In [ ]:
conta_do_guilherme > conta_do_daniela

False

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

# Aula 08

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_do_daniela = ContaSalario(3)
conta_do_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)


contas = [conta_do_guilherme, conta_do_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if (self._saldo < outro._saldo):
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_do_daniela = ContaSalario(3)
conta_do_daniela.deposita(100)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)


contas = [conta_do_guilherme, conta_do_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 100<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [ ]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if (self._saldo < outro._saldo):
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_do_daniela = ContaSalario(3)
conta_do_daniela.deposita(100)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)


contas = [conta_do_guilherme, conta_do_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme <= conta_do_daniela

False